*{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  box-sizing: border-box;
  /* outline: 1px solid red; */
}

.container{
  /* background-color: pink; */
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  position: relative;
}

form{
  background-color: green;
  display: flex;
  flex-direction: column;
  width: 400px;
}

input{
  font-size: 1.1rem;
  padding: 5px;
  outline: none;
  border: 1px solid grey;
  flex: 1 1 100%;
  border-bottom: none;
}

button{
  font-size: 1.1rem;
  padding: 5px;
  cursor: pointer;
  border: 1px solid grey;
}

.add-flashcard-btn{
  background-color: rgb(0, 255, 136);
}

.clear-flashcards-btn{
  background-color: rgb(255, 133, 133);
}

.flashcard-container{
  /* background-color: brown; */
  width: 80%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 30px;
}

.flashcard{
  max-width: 500px;
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
  position: relative;
  box-shadow: 10px 10px 10px rgb(186, 186, 186);
}

.flashcard-text{
  color: grey;
}

.dlt-flashcard-btn{
  position: absolute;
  border: none;
  border-radius: 10px;
  background-color: white;
  color: red;
  font-size: 1rem;
  top: 0;
  right: 0;
}

.study-mode-btn{
  position: sticky;
  top: 0;
  width: 400px;
  background-color: rgb(123, 169, 255);
  border: none;
  border-radius: 5px;
}

.study-mode{
  text-align: center;
  padding: 30px;
  max-width: 400px;
  font-size: 2rem;
  box-shadow: none;
}

.buttons-container{
  width: 400px;
  display: flex;
  justify-content: center;
}

.controls{
  flex-grow: 1;
}

span{
  display: inline-block;
  margin-left: auto;
}

.study-container{
  width: fit-content;
}

.content{
  display: flex;
  flex-direction: column;
}

.randomize-counter{
  display: flex;
}

.normal-mode-container{
  /* background-color: rgb(255, 0, 208); */
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 500px) {
  .flashcard-container{
    grid-template-columns: 1fr;
  }
}